<div id="signup-page" class="paddingMenuCl ">
    <form id="inputdata">
        <input type="email" name="email" placeholder="Email" class="blockinput inputdata_top1">
        <input type="password" name="password" placeholder="Пароль" class="blockinput inputdata_top2">
        <input type="text" name="username" placeholder="Имя пользователя" class="blockinput inputdata_top3">
        <input type="submit" value="Зарегистрироваться" class="buttonSignup">
    </form>
    <div class="underbutton">
        Уже зарегистрировались?
        <a href="#" data-section="login" class="aUnblock">Войти</a>
    </div>
</div>
<div class="signupTitleSolar paddingMenuTitle">Добро пожаловать на пинтерест (нет)</div>
<div class="signupUnderTitle paddingMenuTitle">На самом деле мы не пинтерест, а кое-что покруче!</div>