.createpin__buttons__button-del {
    width: 121px;
    height: 38px;
    background-color: #FFFFFF;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: #8C8C8C;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.createpin__buttons__button-del_pos {
    position: absolute;
    left: 50px;
}