<div id="pinediting-page" class="createpin-container">
    <form id="PinEditingData" class="createpin-form">
        <div class="createpin__left-column">
            <img src={{pinImg}} id="createPinImg" class="pinediting__left-column__img">
        </div>
        <div class="createpin__right-column">
            <div class="createpin__right-column__title">Изменение пина</div>
            <input type="text" id="pinname" placeholder="Добавьте название" value={{pinName}} class="createpin-form__title createpin-form__title_pos">
            <input type="text" id="pincontent" placeholder="Добавьте описание" value={{content}} class="createpin-form__content createpin-form__content_pos">

            <div class="createpin__right-column__choose-board">
                <div class="createpin__right-column__choose-board__title">Выберете доску</div>
                <select name="board-select" class="board-select_design board-select_design_pos">
                    <option disabled>Выберете доску</option>
                </select>
                        
            </div>

            <div class="createpin__buttons pinediting__buttons_pos" >
                <input type="submit" name="button_del" class="createpin__buttons__button-del createpin__buttons__button-del_pos" value="Удалить">
                <a href="/profile" type="submit" class="createpin__buttons__button-out">Отмена</a>
                <input type="submit" class="createpin__buttons__button-save createpin__buttons__button-save_pos" value="Готово">
            </div>
        </div>
    </form>
</div>
