.search-page-title {
    width: 463px;
    height: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #3D3D3D;
    margin-left: 40px;
}

.search-page_style {
    margin-top: 30px;
}

.search-page__flex-container {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-page__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.search-page__column {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 100%;
}

.search-page__error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-page__error-message__circle {
    width: 200px;
    height: 200px;
    background: #e1e1e1;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-page__error-message__icon {
    width: 100px;
}

.search-page__error-message__text {
    text-align: center;
    color: #A19F9C;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.search-page__error-message_none {
    display: none;
}
