<div id="search-page" class="search-page_style">
    <div id="settings-error-view{{forID}}" class="search-page__error-message_none">
        <div class="search-page__error-message__circle">
            <img src={{PHSearch}} class="search-page__error-message__icon">
        </div>
        <div class="search-page__error-message__text">К сожалению, поиск не дал<br>результатов</div>
    </div>
    <div id="search-list{{forID}}" class="search-page__flex-container search-page__column">
    </div>
</div>
