.buttonComponent{
    background-color: #FF8F0C;
    border-radius: 5px;
    text-align: center;
    color: white;
    border: 0;
    width: 336px;
    height: 45px;
    font-size: 18px;
    font-size: large;
    cursor: pointer;
}
