.buttonComponent{
    background-color: #FF8F0C;
    border-radius: 5px;
    text-align: center;
    color: white;
    border: 0;
    width: 338px; /*323*/
    height: 45px;
    font-size: large;
    cursor: pointer;
}
