<div id="profile-page" class="underheader">
    <div class="profileIcons">
        <img id="avatarPhotoI" class="avatarPhotoP">
        <div class="usernameStyleP">{{username}}</div>
        <div class="underusename">{{status}}</div>
        <a href="#">
            <img src={{PHsetimg}} data-section="settings" class="sizeIcons settings_pos">
        </a>
        <a href="#" data-section="createpin">
            <img src={{PHplus}} data-section="createpin" class="sizeIcons cretepin_pos">
        </a>
        <a class="logout" href="#" data-section="login">Выйти</a>
        <a class="butwithoutCol textpad_pos" href="">
            <span class="textPad">Доски</span>
        </a>
        <a class="butwithoutCol textpad_pos2" href="">
            <span class="textPad">Пины</span>
        </a>
    </div>
</div>