<div class="underBlockLoginCl">
    <div class="blocklogin">
        <img src={{PHlogo}} class="logoStyleL">
        <div class="titleLogin">Добро пожаловать в Sunrise!</div>
        <form id="inputdata">
            <input type="email" id="emailinput" placeholder="Email" class="inputSingIn" style="top: 48.83%;">
            <input type="password" id="passwordinput" placeholder="Пароль" class="inputSingIn" style="top: 60.74%;">
            <input type="submit" value="Войти" class="buttonLogin">
        </form>
        <div class="underbuttonLogin">
            Ещё не зарегистрировались?
            <a href="/signup" data-section="signup" class="aUnblock">Регистрация</a>
        </div>
    </div>
</div>