<div class="paddingMenuCl ">
    <form id="inputdata">
        <input type="email" name="email" placeholder="Email" class="blockinput" style="top: 452px;">
        <input type="password" name="password" placeholder="Пароль" class="blockinput" style="top: 510px;">
        <input type="text" name="username" placeholder="Имя пользователя" class="blockinput" style="top: 566px;">
        <input type="submit" value="Зарегистрироваться" class="buttonSignup">
    </form>
    <div class="underbutton">
        Уже зарегистрировались?
        <a href="/login" data-section="login" class="aUnblock">Войти</a>
    </div>
</div>
<div class="signupTitleSolar paddingMenuTitle">Добро пожаловать на пинтерест (нет)</div>
<div class="signupUnderTitle paddingMenuTitle">На самом деле мы не пинтерест, а кое-что покруче!</div>