 <div class="pin-for-index">
    <img src={{pinImg}} class="pin-for-index__img">
    <div class="pin-for-index__content">{{content}}</div>
    <img src={{PHPlus}} class="pin-for-index__plus-img pin-for-index__plus-img_pos">
 </div>