.index-page__flex-container {
    padding: 0;
    margin: 0;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.index-page__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.index-page__column {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 100%;
}

.for-subscribe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[data-theme="dark"] {
    .index-page__flex-container {
        background-color: #000000;
        color: #ffffff;
    }
}