<div id="user-page" class="profile-container">
    <div class="profile-container_pos">
        <div class="profile-underheader">
            <img src="{{avatarphoto}}" id="avatarPhotoUset" class="profile-avatar-photo">
            <div class="profile-underheader__content">
                <div class="profile-username">{{username}}</div>
                <div class="profile-status">{{status}}</div>
            </div>
        </div>

        <div class="profile-buttons">
            <form id="userData">
                <input type="submit" id="buttonSub" class="button-subscribe" value="Подписаться">
            </form>
        </div>
    </div>

    <div id="userPinsView" class="user-subscribe-pins columns"></div>
</div>
