.button-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 15px;
    padding-right: 15px;
    height: 38px;
    background-color: #FF8F0C;
    border-radius: 5px;
    border: 0;
    text-align: center;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}