/* dialog */
.dialogview__flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 100%;
    z-index: 7;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
}

.dialog-container {
    display: flex;
    justify-content: center;
}
