/* dialog */
.dialogview__flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    overflow: auto;
}

.dialog-container {
    display: flex;
    justify-content: center;
}
