.popup-img-close {
    cursor: pointer;
    display: flex;
    height: 20px;
    margin-left: auto;
}

.popup-view-text {
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    text-align: center;
    margin: 10px 0;
}

.popup_width {
    width: 30%;
}
