.index-page__flex-container {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-page__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.index-page__column {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 100%;
}

.for-subscribe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}