<div id="subscribe-page:{{arg}}" class="for-subscribe">
    <div id="subscribepageNoFollowee" class="for-subscribe_none">
        <img src={{PHFollower}} class="for-subscribe__img for-subscribe__img_pos">
        <div>
            У вас сейчас нет активных подписок.
            <br>Чтобы подписаться на другого пользователя нужно перейти на его личную страницу и нажать на кнопку "Подписаться".
        </div>
    </div>
</div>
<div id="subscribe-page-pins:{{arg}}" class="index-page__flex-container"></div>
