    <div id="createboard-page" class="createboard-page__flex-container">
        <div class="createboard-block">
            <div class="createboard-block__title">Создание доски</div>
            <form id="BoardData">
                <input type="text" id="boardname" placeholder="Добавьте название" value="" class="createboard-form__title createboard-form__title_pos ">
                <input type="text" id="boardcontent" placeholder="Добавьте описание" value="" class="createboard-form__content createboard-form__content_pos">
                
                <div class="createboard-form_button_pos" >
                    <a href="#" type="submit" data-section="profile" class="createboard-foem__button-out">Отмена</a>
                    <input type="submit" class="createboard-form__button-save create-form__button-save_pos" value="Готово">
                </div>
            </form>
        </div>
    </div>