.settings-page__container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    height:100vh;
}

.settings-left-column {
    width: 283px;
    display: flex;
    flex-direction: column;
}

.left-column_margin-first {
    margin-top: 0px;
}

.left-column_margin-second {
    margin-top: 20px;
}

.icon_left-column-margin {
    margin-left: 47px;
}

.settings-left-column__text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
    position: absolute;
    margin-top: 4px;

    color:#8C8C8C;

    &:hover {
        color: #FF8F0C;
    }
}

a {
    text-decoration: none;
}

.settings-right-column {
    // width: 756px;
    display: flex;
    flex-direction: column;
    // padding-left: 35px;
}

.settings-right-column__title {
    display: flex;
    flex-direction: row;
}

.right-column__title {
    width: 303px;
    height: 44px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #000000;
}

.settings-right-column__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.settings-avatar-photo {
    border-radius: 100px;
    width: 192px;
    height:192px;
    background-image: url(../../images/bg.png);
}

.settings-avatar-photo__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    margin-top: 6px;

    color: #000000;
}

.settings-avatar-photo__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 121px;
    height: 38px;
    background-color:#FFFFFF;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: #8C8C8C;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.button-without-styles {
    display:none;
}

.settings-avatar-photo__button_margin {
    margin-top: 15px;
}

.settings-right-column__name-surname {
    display: flex;
    flex-direction: row;
}

.settings-right-column__name-sername_column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.settings-form-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.settings-form__input-block {
    height: 45px;
    // width: 307px;
    width: 345px;
    background: #FFFFFF;
    border: 1px solid #A19F9C;
    box-sizing: border-box;
    border-radius: 5px;
}

.settings-form__name-surname_margin {
    margin-left: 40px;
}

.settings-form__input-block_pos {
    margin-top: 5px;
}

.settings-right-column__username {
    display: flex;
    flex-direction: column;
}

.settings-right-column_pos {
    margin-top: 40px;
}

.settings-right-column__status {
    display: flex;
    flex-direction: column;
}

.settings-right-column__username__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings-right-column__username__row_pos {
    margin-top: 5px;
}
.settings-form__input-block_href_pos {
    margin-left: 10px;
}

input {
    display: block;
    padding-left: 10px;
}

.settings-form__input-block_status_pos {
    // width: 679px;
    width: 100%;
}

.button-exit {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 121px;
    height: 38px;
    background-color:#FFFFFF;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: #8C8C8C;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.button-save {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 121px;
    height: 38px;
    background-color: #FF8F0C;
    border-radius: 5px;
    border: 0;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.settings-button_pos {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.button-save_pos {
    margin-left: 19px;
}

[data-theme="dark"] {
    .settings-page__container,
    .settings-avatar-photo__title {
        background-color: #000000;
        color: #ffffff;
    }
}
