.dialog3view__title-one {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialog3view__title-one__text {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.dialog3view__title-two {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialog3view__title-two__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}

.dialog3view__title-two__text_bold {
    margin-left: 10px;
    font-weight: bold;;
}

a {
    text-decoration: none;
}

.messages-list__container {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    margin-top: 20px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
    height: calc(100% - 150px - 90px - 100px);
    overflow: auto;
}

.title-height-dialog {
    height: 90px;
}

.message-form {
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    display: flex;
    flex-direction: column;;
}

.message-form__sending-message {
    height: 74px;
    padding-top: 5px;
    padding-left: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    flex-grow: 2;

    border-radius: 5px;
    border: 2px solid #d6d6d6;

    color: #000000;
}

.message-form__button {
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 37px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;

    background: #FF8F0C;
    border-radius: 5px;
    border: 0;
    margin-bottom: 5px;
}

.smile {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.message-form__smile-container {
    display: flex;
    align-items: center;
}

.message-form__smile-view {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 10px 0px;
    font-size: 20px;
    overflow: auto;
}

.message-form__smile-view_none {
    display: none;
}

.smile__style {
    margin: 0px 5px 5px 0px;
    cursor: pointer;
}
