<div class="title-height-dialog">
    <div class="dialog3view__title-one">
        <div class="dialog3view__title-one__text">Новое сообщение</div>
    </div>
    <div class="dialog3view__title-two dialog3view__title-two__text">
        Кому:<a id="chatUser" class="dialog3view__title-two__text_bold">{{username}}</a>
    </div>
</div>
<div id="MessagesList" class="messages-list__container"></div>
<form id="createMessageData" class="message-form">
    <div id="smileImages" class="message-form__smile-view_none">
        <div class="smile__style">😁</div>
        <div class="smile__style">😅</div>
        <div class="smile__style">😊</div>
        <div class="smile__style">😋</div>
        <div class="smile__style">😎</div>
        <div class="smile__style">😍</div>
        <div class="smile__style">😩</div>
        <div class="smile__style">😭</div>
        <div class="smile__style">👍</div>
        <div class="smile__style">👎</div>
        <div class="smile__style">🌝</div>
        <div class="smile__style">🌚</div>
        <div class="smile__style">🥃</div>
        <div class="smile__style">🍔</div>
    </div>
    <div class="message-form__smile-container">
        <input type="text" id="message" name="message" placeholder="Напишите сообщение ..." class="message-form__sending-message">
        <img src={{PHsmile}} id="openSmile" class="smile">
    </div>
    <input type="submit" class="message-form__button" value="Отправить">
</form>
