body {
    margin: 0;
    padding: 0;
}

.left-controls__text-to-ind {
    margin-left: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #A19F9C;
}

.plus-img {
    width: 29px;
    height: 29px;
}

.ask-img {
    width: 32px;
    height: 32px;
}

.avatar {
    border-radius: 100px;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    background-image: url(../../images/bg.png);
}

.dialog-img {
    width: 37px;
    height: 34px;
}
.mun-img {
    width: 40px;
    height: 30px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    height: 35px;
    background: white;
    padding: 15px 15px;
    border-bottom: 1px solid #d6d6d6;
}

.logo {
    height: 100%;
    margin-right: 15px;
}

.logo__picture {
    height: 100%;
}

.search {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search__icon {
    display: flex;
    user-select: none;
}

.search__icon i {
    color: gray;
    font-size: 20px;
    margin-right: 5px;
}

.search__input {
    width: 100%;
    padding-right: 10px;
}

.search__input input {
    width: 100%;
    border: 0;
    font-size: 14px;
    outline: none;
}

.searchheader-select_design {
    background-color: #FFFFFF;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.searchheader-line {
    display: flex;
    align-items: center;
    border: 1px solid #A29F9C;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    height: calc(100% - 12px);
}

.searchheader-select_design_pos {
    height: 100%;
}

.controls {
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-right: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
}

.controls__link {
    color: gray;
    text-decoration: none;
    transition: .2s;
    margin-left: 10px;
    margin-right: 15px;
}

.dialog-block {
    display: flex;
    align-items: center;
}

.dialog__items {
    margin-left: 10px;
}

.left-controls {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.plus-img_margin-left {
    margin-left: 100px;
}

.ask-img_margin-left{
    margin-left: 10px;
}

.bell-img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.alerts-menu ul {
    list-style: none;
}

.alerts-menu > ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.alerts-menu > ul li a {
    display: block;
    padding: 10px 10px 10px 10px;
    color: #8C8C8C;
}

.alerts-menu li ul {
    margin-right: 5px;
    margin-left: -20px;
    position: absolute;
    padding: 0;
}

.alerts-menu__pad_menu {
    display: block;
    z-index: 10;
    background-color: #FFFFFF;
    border: 1px solid #8C8C8C;
    border-radius: 5px;
    color: #8C8C8C;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}

.alerts-menu_margin-list {
    margin-bottom: 5px;
}

.alerts-count {
    border-radius: 100px;
    background: #FF8F0C;
    font-size: 13px;
    padding: 3px 6px 3px 6px;
    color: #FFFFFF;
    z-index: 8;
    margin-left: -10px;
}

a {
    text-decoration: none;
}

.header-position {
    position: sticky;
    top: 0;
}

.notice-view_none {
    display: none;
}
