<div id="login-page" class="login-block_background">
    <div class="login-block">
        <img src={{PHlogo}} class="login-block__logo login-block__logo_padding">
        <div class="login-block__title">Добро пожаловать в Sunrise!</div>
        <form id="inputdata_login">
            <input type="email" id="emailinput" placeholder="Email" class="login-form-block__input login-form-block__input_email_margin">
            <input type="password" id="passwordinput" placeholder="Пароль" class="login-form-block__input login-form-block__input_password_margin">
            <input type="submit" value="Войти" class="button login-block__button login-block__button_margin">
        </form>
        <div class="login-block__underbutton-text a-bold-decoration_margin">
            Ещё не зарегистрировались?
            <a href="/signup" class="a-bold-decoration">Регистрация</a>
        </div>
    </div>
</div>