.createpin-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 70vh;
}

.createpin-error {
    width: 100%;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    background: #FADADD;
    align-items: center;
    display: flex;
    justify-content: center;
    color: red;
}

.createpin__left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createpin__right-column {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.createpin__left-column__img {
    object-fit: cover;
    width: 246px;
    height: 329px;
    border-radius: 5px;
    background-image: url(../../images/bg_fp.png);
    background-size: contain;
}

.createpin-form__pinphoto {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 246px;
    height: 38px;

    background-color:#FFFFFF;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: #8C8C8C;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.createpin-form__pinphoto_pos {
    margin-top: 10px;
}

.createpin__right-column__title {
    width: 333px;
    height: 70px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #000000;
}

a {
    text-decoration: none;
}

.createpin-form__title {
    width: 586px;
    height: 44px;

    border:0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    border-bottom: 1px solid #C4C4C4;
    color: #8C8C8C;
}

.createpin-form__title_pos {
    margin-top: 20px;
}

.createpin-form__content {
    width: 586px;
    height: 44px;

    border:0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid #C4C4C4;
    
    color: #8C8C8C;
}

.createpin-form__content_pos {
    margin-top: 20px;
}

.createpin-form {
    display: flex;
}

.createpin__buttons {
    display: flex;
    flex-direction: row;
}

.createpin__buttons_pos {
    margin-top: 20px;
    margin-left: auto;
    margin-top: auto;
}

.createpin__buttons__button-out {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 121px;
    height: 38px;
    padding: 9px 30px 9px 30px;
    background-color: #FFFFFF;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: #8C8C8C;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.createpin__buttons__button-save {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 121px;
    height: 38px;
    background-color: #FF8F0C;
    border-radius: 5px;
    border: 0;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.createpin__buttons__button-save_pos {
    margin-left: 15px;
}

.board-select_design {
    background-color: #FFFFFF;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
}

.board-select_design_pos {
    margin-left: 15px;
}

.createpin__right-column__choose-board {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    align-items: center;
}

.createpin__right-column__choose-board__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #8C8C8C;
}

.createpin__right-column__create-board {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #8C8C8C;
    margin-left: auto;
    cursor: pointer;
}

.createpin__right-column__create-board_none {
    display: none;
}

[data-theme="dark"] {
    .createpin-container,
    .createpin__right-column__title {
        background-color: #000000;
        color: #ffffff;
    }
}
