<div id="login-page" class="underBlockLoginCl">
    <div class="blocklogin">
        <img src={{PHlogo}} class="logoStyleL">
        <div class="titleLogin">Добро пожаловать в Sunrise!</div>
        <form id="inputdata">
            <input type="email" id="emailinput" placeholder="Email" class="inputSingIn inputdata_email_top">
            <input type="password" id="passwordinput" placeholder="Пароль" class="inputSingIn inputdata_password_top">
            <input type="submit" value="Войти" class="buttonLogin">
        </form>
        <div class="underbuttonLogin">
            Ещё не зарегистрировались?
            <a href="#" data-section="signup" class="aUnblock">Регистрация</a>
        </div>
    </div>
</div>