    <div class="board-for-user-view">
        <a href="/board/{{id}}"><img data-section="boardView" src={{boardImg}} class="board-for-user-view__img"></a>
        <div class="board-for-user-view__content">{{content}}</div>
        <a href="/board_change"><img data-section="boardSettings" src={{PHGrayPen}} class="board-for-user-view__pen-img board-for-user-view__pen-img_pos"></a>
    </div>