    <div class="board-for-user-view">
        <img data-section="boardView" src={{boardImg}} class="board-for-user-view__img">
        <div class="board-for-user-view__content">{{content}}</div>
        <img data-section="boardSettings" src={{PHGrayPen}} class="board-for-user-view__pen-img board-for-user-view__pen-img_pos">
    </div>