.comment {
    display:flex;
    width: 455px;
}

.comment__left-block {
    width: 85px;
    display: flex;
}

.comment__left-block__img {
    border-radius: 100px;
    width: 73px;
    height:73px;
    background-image: url(../../images/bg.png);
    border: 0;
}

.comment__creator {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;

color: #000000;
}

.comment__right-block {
    width: 370px;
    display: flex;
    flex-direction: column;
}

.comment__content {
    overflow: hidden;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.comment__context_margin {
    margin-top:3px;
}

.comment_margin {
    margin-top: 15px;
}