<div class="comment comment_margin">
    <div class="comment__left-block">
        <img src="{{commentAuthorImg}}" class="comment__left-block__img">
    </div>
    <div class="comment__right-block">
        <div class="comment__creator">{{commentAuthor}}</div>
        <div class="comment__content comment__context_margin">{{commentContent}}</div>
    </div>
</div>
