@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.pin-for-board-editing {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 5px;
    width: 229px;
}

.pin-for-board-editing__content {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    overflow: hidden;
    padding-top:5px;
    padding-bottom: 10px;

    color: #585858;
}

.pin-for-board-editing__img {
    height: 329px;
    background: #D9D9D9;
    border-radius: 5px 5px 0px 0px;
}