@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html *
{
   font-family: Roboto !important;
}

.background {
    background-color: #ffffff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundLogin {
    background: url(../images/loginbg1.jpg);
    background-repeat: no-repeat;
    background-size :cover;
    background-attachment: fixed;
}

.backgroundIndex {
    background-color: rgb(255, 255, 255);
}