// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html *{
    font-family: Arial;
}

.background {
    background-color: #ffffff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundLogin {
    background: url(../images/loginbg1.jpg);
    background-repeat: no-repeat;
    background-size :cover;
    background-attachment: fixed;
}

.backgroundIndex {
    background-color: rgb(255, 255, 255);
}

.preloader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader > img {
    width: 100px;
}

.preloader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

input {
    outline: none;
}

.changeLangToEng {
    position: absolute;
    width: 40px;
    height: 20px;
    bottom: 20px;
    left: 20px;
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
}

.changeLangToRu {
    position: absolute;
    width: 40px;
    height: 20px;
    bottom: 20px;
    left: 70px;
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
}

.changeThemeToLight {
    position: absolute;
    width: 40px;
    height: 20px;
    bottom: 40px;
    left: 20px;
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
}

.changeThemeToDark {
    position: absolute;
    width: 40px;
    height: 20px;
    bottom: 40px;
    left: 70px;
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
}

[data-theme="dark"] {
    .changeThemeToLight, 
    .changeThemeToDark,
    .changeLangToEng,
    .changeLangToRu {
        color: #ffffff;
    }

    body,
    input[type="email"],
    input[type="password"],
    input[type="text"],
    select,
    option,
    .preloader,
    textarea {
        background-color: #000000;
        color: #ffffff;
    }
}
