<div class="pin-for-user-view">
    <img src={{pinImg}} class="pin-for-user-view__img">
    <div class="pin-for-user-view__content">{{content}}</div>
    <img src={{PHGrayPen}} class="pin-for-user-view__pen-img pin-for-user-view__pen-img_pos">
</div>