.pin-for-user-view {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 5px;
    width: 229px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;

    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
}

.pin-for-user-view__content {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    overflow: hidden;
    padding-top:5px;

    color: #585858;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.pin-for-user-view__img {
    height: 329px;
    width: 100%;
    background: #D9D9D9;
    border-radius: 5px 5px 0px 0px;
}

.pin-for-user-view__pen-img {
    width: 20px;
    height: 20px;
}

.pin-for-user-view__pen-img_pos {
    margin-left: 87%;
    margin-right: 10px;
    margin-bottom: 10px;
}