<div class="pin-for-user-view">
    <a href="/pin"><img data-section="pinView" src={{pinImg}} class="pin-for-user-view__img"></a>
    <div class="pin-for-user-view__content">{{content}}</div>
    <a href="/pin_editing"><img data-section="pinSettings" src={{PHGrayPen}} class="pin-for-user-view__pen-img pin-for-user-view__pen-img_pos"></a>
</div>