<div class="dialogview__title-one">
    <div class="dialogview__title-one__text">Напишите друзьям</div>
    <div id="newMessagwButton" class="dialogview__title-one__button">Новое сообщение</div>
</div>
<div class="dialogview__title-one__text dialogview__title-two">
    Входящие
</div>
<div id="incomingMessagesList">
</div>