.leftColumn {
    position: absolute;
    width: 283px;
    height: 906px;
    top: 75px;

    position: absolute;
    left: 50%;
    margin-left: -566px;
}

.rightColumn {
    position: absolute;
    width: 756px;
    height: 906px;
    top: 75px;

    left: 50%;
    margin-left: -283px;
}

.marginLeftCol {
    margin-left: 47px;
}

.marginTopF {
    margin-top: 46px;
}

.leftTextSt {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
    position: absolute;
    margin-top: 4px;

    color:#8C8C8C;
}

.leftTextSt:hover {
    color: #FF8F0C;
}

.marginTopT {
    margin-top: 20px;
}

.botOut {
    position: absolute;
    width: 121px;
    height: 38px;
    left: 595px;
    top: 45px;
    background-color: #FF8F0C;
    border-radius: 5px;
    border: 0;
    text-align: center;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.botNoOut {
    position: absolute;
    width: 121px;
    height: 38px;
    left: 455px;
    top: 45px;
    background-color:#FFFFFF;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: #8C8C8C;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.setTitle {
    position: absolute;
    width: 303px;
    height: 44px;
    left: 38px;
    top: 37px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #000000;
}

.withPhotoBlock {
    position: absolute;
    width: 256px;
    height: 329px;
    top: 105px;
    left: 50%;
    margin-left: -128px;
}

.avatarPhoto {
    border-radius: 100px;
    width: 192px;
    height:192px;
    margin-left: 33px;
    margin-top: 24px;
    background-image: url(../../images/bg.png);
}

.avatarBot {
    width: 121px;
    height: 38px;
    margin-left: 69px;
    margin-top: 15px;
    background-color:#FFFFFF;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: #8C8C8C;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.underAvatar {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    margin-top: 5px;

    color: #000000;
}

.inputForm {
    position: absolute;
    height: 45px;
    width: 307px;
    background: #FFFFFF;
    border: 1px solid #A19F9C;
    box-sizing: border-box;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

input {
    display: block;
    padding-left: 10px;
}

.normText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.norm-button {
    width: 105px;
    height: 38px;
    margin-left: 69px;
    margin-top: 15px;
    font-size: 16px;
}

.out_pos {
    top: 8px;
    position: absolute;
    margin-left: -30px;
}

.name-block_pos {
    margin-left: 35px;
    margin-top: 448px;
}

.name-input_pos {
    margin-left: 35px;
    margin-top: 10px;
}

.surname-block_pos {
    margin-left: 379px;
    margin-top: -20px;
}

.surname-input_pos {
    margin-left: 379px;
    margin-top: 10px;
}

.username-block_pos {
    margin-left: 35px;
    margin-top: 100px;
}

.href_pos {
    margin-left: 35px;
    padding-top: 20px;
}

.href-input_pos {
    margin-left: 35px;
    margin-top: 10px;
}

.status-input_pos {
    margin-left: 35px;
    margin-top: 10px;
    width: 679px;
}