.viewpin-page__flex-container {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewpin-block {
    display: flex;
    width: 976px;
}

.viewpin-block__left-column {
    display:flex;
    flex-direction: column;
    width: 490px;
}

.viewpin-block__left-column_state {
    margin-left: 40px;
}

.viewpin-block__pin-photo {
    object-fit: cover;
    width: 488px;
    height: 650px;

    background: #C4C4C4;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;

    background-image: url(../../images/bg.png);
}

.viewpin-block__right-column {
    flex-direction: column;
    padding-left: 30px;
}

.viewpin-block__right-column__title {
    width: 463px;
    height: 44px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #3D3D3D;
}

.viewpin-block__right-column__title_pos {
    margin-top: 20px;
}

.viewpin-block__right-column__buttom-save {
    width: 121px;
    height: 38px;
    background-color: #FF8F0C;
    border-radius: 5px;
    border: 0;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.viewpin-block__right-column__buttom-save_pos {
    margin-left: 30px;
}

.viewpin-block__right-column__author-block {
    display: flex;
    align-items: center;
}

.viewpin-block__right-column__author{
    width: 54px;
    height: 44px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #8C8C8C;
}

.viewpin-block__right-column__username {
    width: 391px;
    height: 32px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #000000;
}

.viewpin-block__right-column__context {
    height: 32px;

    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #000000;
}

.viewpin-block__right-column__context_margin {
    margin-top: 50px;
}

.viewpin-block__right-column__comment-block {
    width: 463px;
    height: 44px;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #8C8C8C;
    border-bottom: 1px solid #C4C4C4;
    border-color: #8C8C8C;
}

.viewpin-form__sending-comment {
    width: 455px;
    height: 74px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;
}

.viewpin-form__sending-comment_margin {
    margin-top:30px;
}

.viewpin-form__send-comment {
    width: 121px;
    height: 38px;
    background-color: #FFFFFF;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: #8C8C8C;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

input {
    padding-left: 10px;
}

a {
    text-decoration: none;
}

.comment_margin {
    margin-top: 15px;
}

.viewpin-form__board-select_design {
    background-color: #FFFFFF;
    border: 1px solid #A29F9C;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    height: 38px;
}

.viewpin-form__board-select_design_pos {
    margin-left: auto;
}

.view-pin-data-form {
    display: flex;
}